<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="https://hashrocket.com/favicon.ico">
    <title>Concepts - Hashrocket</title>
    <style>
      :root {
        --hr-red:   #af1e23;
        --hr-black: #414042;
        --hr-grey:  #c8c8c8;
      }

      body {
        margin: 0;
        background-color: white;
        font-family: Helvetica, sans-serif;
      }

      section {
        margin-left: 32px;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 42rem;
        max-width: 60rem;
        padding-left: 0;
      }

      li {
        display: flex;
        flex-direction: column;
        flex: 0 1 0;
        background-color: var(--hr-grey);
        min-width: 16rem;
        max-width: 24rem;
        min-height: 8rem;
        margin: 0 2rem 2rem 0rem;
        padding: 1rem;
      }

      li span {
        font-family: Helvetica, "San Serif";
        font-size: 1.6em;
        font-weight: bold;
        color: var(--hr-red);
      }

      li div {
        min-height: 1.8rem;
      }

      li div.image {
        display: flex;
        justify-content: center;
      }

      li div.image img {
        max-height: 10rem;
      }

      li div.title { 
        display: flex;
        flex-direction: column;
      }

      li div.title a { 
        display: inline;
      }

      .repo a:link, .repo a:active, .repo a:visited, .repo a:hover, .repo a:focus {
        color: var(--hr-red);
      }

      a:link, a:active, a:visited, a:hover, a:focus {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%= header %>
    <section>
      <h1>General</h1>
      <ul>
        <% concepts.each do |concept| %>
        <% concept_yaml = YAML.load(concept[:concept_config]['text']) %>
          <li>
            <div class='image'>
              <img src='images/<%= concept_yaml['name'] %>.png'/>
            </div>
            <div class='title'>
              <p>
                <a href="http://<%= concept[:concept_url] %>">
                  <span><%= concept_yaml['name'] %></span>
                </a>
                <a href="<%= "https://github.com/#{concept[:login]}" %>">by <%= concept[:login] %></a>
              </p>
            <div>
            <div class='description'>
              <%= concept_yaml['description'] %>
            </div>
            <div class='repo'>
              <a href="<%= "https://github.com/#{concept[:login]}/#{concept[:repo_name]}" %>">
                github
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </body>
</html>
